{% extends "main.html" %}
{% load static %}
{% block title %}Мониторинг устройств{% endblock %}

<!-- Используем класс g-1 для корректных промежутков между колонками -->
{% block main %}
<div class="row g-1">
    <div class="col-6">
      <div class="sm-container p-1" >
        <h5 class=" text-muted">Трафик устройств</h5>
        <canvas id="traffic-chart" ></canvas>
      </div>
    </div>
    <div class="col-6">
      <div class="sm-container p-1">
        <h5 class="text-muted">Глобальная активность</h5>
        <div id="active-users-card" class="row">
          <div class="col">
            <canvas id="active-users-map" height="365"></canvas>
          </div>
        
          <div class="col-3">
            <table  id="active-users-table" class="w-60">
               <thead><tr><th class="w-30"> </th><th class="text-end">В сети</th></tr></thead>
               <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  

<div class="mb-5">
    <div class="row g-1">
      <div class="col-md">
        <div class="sm-container p-3">
          <div class="table-responsive logs-container">
            <table class="table ">
              <thead>
                <tr>
                    <th>Статус</th>
                    <th>Шлюзь</th>
                    <th>Страна</th>
                    <th>Геопозиция</th>
                    <th>Оператор</th>
                    <th>Тип</th>
                    <th>Часовой пояс</th>
                    <th>Трафик</th>
                    <th>Точность</th>
                </tr>
              </thead>
              <tbody id="device-table-body">
                {% for device in devices %}
                <tr id="device-row-{{device.id}}" class="device-tr" onclick="selectDevice('device-row-{{device}}')" data-device-id="{{device}}">
                  <td>Не активен</td>
                  <td>{{device}}</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sm-container p-3"> 
          <div class="col logs-container">
            <code class="logs"></code>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block include_scripts %}
  <script src="{% static 'main/scripts/dashboard.js' %}"></script>
{% endblock %}