{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding-top: 100px; padding-bottom: 50px;">
    <style>
        main {
            background-image: url("{% static 'main/images/bg.jpg' %}") ;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            
        }
    </style>
    <div class="main-content" style="background-color: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px;">
        <h1 class="text-center">Мониторинг устройств</h1>
        <!-- Сетка устройств -->
        <div class="devices-grid">
            {% for device in devices %}
                <div class="device-item" onclick="showLogs(this)" data-device-id="{{ device.id }}">
                    <span class="device_status {% if device.is_online %}benign{% endif %}">•</span>
                    <span class="device_name">{{ device.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Фиксированная боковая панель логов -->
    <div class="logs-panel">
        <!-- <h3>Логи устройства</h3> -->
        {% for device in devices %}
        <div id="deviceLog{{device.id}}" class="hide">
            <h4 class="text-center">{{ device.name }}</h4>
           <!-- Подключаем Bootstrap (если он не подключен в вашем проекте) -->

            <div class="logsText p-3">
                <table class="table text-center">
                    <thead class="table-dark" >
                        <tr>
                            <!-- <th scope="col">Статус</th> -->
                            <th scope="col">Класс</th>
                            <th scope="col">Точность</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="device-info">
                            <!-- <td class="text-white device_status_name fs-5" id="device_status_{{device.id}}">-</td> -->
                            <td class="text-white device_prediction" id="device_prediction_{{device.id}}">-</td>
                            <td class="text-white device_confidence" id="device_confidence_{{device.id}}">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
 <style>
    .navbar {
        background-color: #171717;
        position: relative;
        
    }
 </style>
<script>
    function showLogs(element) {
        var  device_id = element.getAttribute('data-device-id');
        var deivceContainer = document.querySelector('.logs-panel');
        const deviceLog = deivceContainer.querySelector(`#deviceLog${device_id}`);

        // Скрываем все логи
        document.querySelectorAll('.logs-panel .show').forEach(item => {
            item.classList.replace('show', 'hide');
        });
        // Показываем логи текущего устройства
        deviceLog.classList.replace('hide', 'show');

        // Убираем класс 'selected' у всех элементов
        const allDeviceItems = document.querySelectorAll('.device-item');
        allDeviceItems.forEach(item => item.classList.remove('selected'));

        // Добавляем класс 'selected' к текущему элементу
        element.classList.add('selected');
    }
</script>

{% endblock %} 

{% block footer %}
{% comment %}
<footer class="footer">
    <pre id="display_result">
        <table>
            <tr>
                <td style="width: 250px;">Device</td>
                <td class="ml-3" style="width: 250px;">Prediction</td>
                <td style="width: 250px;">Confidence</td>
            </tr>
            {% for device in devices %}
            <tr class="device-info">
                <td style="width: 250px;">-</td>
                <td id="device_prediction_{{device.id}}" style="width: 250px;"></td>
                <td id="device_confidence_{{device.id}}" style="width: 250px;"></td>
            </tr>
            {% endfor %}
        </table>
    </pre>
</footer>
{% endcomment %}
<script>

</script>
{% endblock %}